$def with (form)

<html>
    <head>
        <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" contetn="IE=edge">
	    <meta name="viewport" content="width=device-width, user.scalable=no, initial-scale=1.0, maximum-scale=1.0, minium-scale=1.0">
        <title>Agenda</title>
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
<body>
<header>
    <div class="container">
    <h1>New Blog Post</h1>
    </div>
</header>
<a href="/bd"><h3>Inicio</h3></a>
<form action="" method="post">
$:form.render_css()
</form>
    